@font-face {
  font-family: "iconfont"; /* Project id 2736799 */
  src: url('iconfont.woff2?t=1628650563437') format('woff2'),
       url('iconfont.woff?t=1628650563437') format('woff'),
       url('iconfont.ttf?t=1628650563437') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenjianjia:before {
  content: "\e60e";
}

